.nav{
    background-color: rgba(238, 188, 247, 0.8);
  }
  
  .bv{
    color: blueviolet;
    font-size: 125%;
  }

  .img{
    justify-content: left;
    max-width: 250px;
    max-height: fit-content;
  }
